{erl_opts, [debug_info]}.

{rebar3_sbom, [
    {sbom_manufacturer, #{
        name => "The comunity of the Ring",
        address => "Bag End, Hobbiton, Shire"
    }},
    {sbom_licenses, ["BSD-3-Clause"]}
]}.

{deps, [
    meck,
    grisp
]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [basic_app]}
]}.
