{erl_opts, [debug_info]}.

{rebar3_sbom, [
    {sbom_manufacturer, #{
        name => "The comunity of the Ring",
        address => #{
                country => "Middle-earth",
                region => "Shire",
                locality => "Hobbiton",
                postal_code => "12345",
                street_address => "Bag End, Hobbiton, Shire"
            },
        contact => [
            #{name => "Frodo Baggins"},
            #{name => "Gandalf the Grey",
              phone => "1234567890"}
        ]
    }},
    {sbom_licenses, ["BSD-3-Clause"]}
]}.

{deps, [
    meck,
    grisp
]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [basic_app]}
]}.
