# SPDX-License-Identifier: BSD-3-Clause
# SPDX-FileCopyrightText: 2025 Erlang Ecosystem Foundation

on:
  workflow_call:
    inputs:
      releaseName:
        required: true
        type: string
      stable:
        required: false
        type: boolean
        default: false

name: "Release"

permissions:
  contents: read

jobs:
  create:
    name: Create Release

    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit
            
      - name: "Download Docs Artifact"
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: docs
          path: .
      - name: "Download Source SBoM Artifact"
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: source_sbom
          path: .

      - name: Create release
        env:
          GITHUB_TOKEN: ${{ github.token }}
          REPO: ${{ github.repository }}
          RELEASE_NAME: ${{ inputs.releaseName }}
        run: >-
          gh release create
          --repo "$REPO"
          --title "$RELEASE_NAME"
          --generate-notes
          ${{ inputs.stable && '' || '--prerelease' }}
          "$RELEASE_NAME"
          docs.tar.gz* source_sbom*
